@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-04-08 23:24:31
 * @version $Id$
 */

@font-face{
font-family: MicrosoftYaHei-Regular;src:url(../fonts/msyh.ttf);
font-family: MicrosoftYaHei-Regular-bd;src:url(../fonts/msyhbd.ttf);
}
*{
	padding: 0;
	margin: 0;
}
.clear{
	clear: both;
}
#top{
	width: 100%;
	height: 45px;
	font-family: MicrosoftYaHei-Regular;
}
#top .top-back{
	width: 100%;
	height: 45px;
	background-color: #244d5f;
}
#top .top-nav{
	width: 1000px;
	height: 45px;
	margin: 0 auto;
	background-color: #244d5f;
}
.top-nav-2 p{
	line-height: 45px;
	padding-left: 12px;
	color: #fff;
	font-size: 16px;
	float: left;
}
.top-nav-2 #list-3{
	cursor: pointer;
}
.top-nav-2 img{
	float: left;
	padding-top: 12px;
}
#gps_change{
	clear: both;
	width: 300px;
	height: 220px;
	background-color: #244d5f;
	position: absolute;
	top: 45px;
	left: 200px;
	border: 2px solid #244d5f;
	/*visibility: hidden;*/
	display: none;
	list-style: none;
	z-index: 10;
}
#gps_change li{
	list-style: none;
	cursor: pointer;
	background-color: #244d5f;
}
#gps_change span{
	color: #fff;
	font-size: 24px;
	margin-left: 8px;
}
#gps_change p{
	color: #fff;
	float: left;
	margin-left: 10px;
}

#top .top-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
#top .top-nav ul{
	float: left;
	list-style: none;
	height: 20px;
}
#top .top-nav ul li{
	float: left;
	margin-top: 11px;
}
#top .top-nav ul li a{
	line-height: 20px;
}
#top .top-nav ul li a:hover{
	color: #50bbdb;
}
#top .top-nav p:hover{
	color: #50bbdb;
}
#top .top-nav .nav-list-1 .list-2{
	margin-left: 13px;
}
#top .top-nav .nav-list-1 .list-3{
	margin-left: 16px;
}
#top .top-nav .nav-list-1 .list-4{
	margin-left: 75px;
}
#top .top-nav .nav-list-1 .list-5{
	margin-left: 12px;
}
#top .top-nav .nav-list-1 .list-5 span{

}
.top_nav_list_2{
	height: 45px;
	width: 255px;
	float: right;
}
.top_nav_list_2 span{
	color: #fff;
	float: left;
	display: block;
	font-size: 13px;
	margin:13px 6px 0;
}
.list1{		
	list-style: none;
	text-align: center;
	display: none;
	padding: 10px 0px; 
	float: left;
}
.top_nav_list_tu1{
	float: left;
	margin-top: 8px;
}
#top_nav_list_tu2{
	margin-top: 22px;
	margin-right: 29px;
	float: left;
}
.top_nav_list_2 ul{
	text-align: right;
}
.top_nav_list_2 input{
	background-color: #e1900e;
	height: 27px;
	width: 82px;
	margin-top: 9px;
	border:2px solid #ffac30;
	color: #fff;
	font-size: 14px;
	border-radius:4px;
	float: left;
}
/*城市切换*/
#change-city{
	width: 706px;
    height: 105px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #0CC;
	position:absolute;
	top:45px;
	left:14%;
	z-index: 99;
	display: none;
}
#change-city p {
    font-size: 15px;
    font-family: "微软雅黑";
    margin-top: 10px;
    margin-left: 30px;
    display: block;
    width: 50px;
    float: left;
}
#city-list-1 {
    float: left;
    width: 600px;
    height: 100px;
    margin-top: 10px;
}
.city-list-add {
    float: left;
    position: relative;
    font-size: 15px;
    font-family: "微软雅黑";
    color: #50B8D8;
    display: block;
    height: 22px;
    width: 66px;
    text-align: center;
    cursor: pointer;
}/*页面头部*/
#top .top-nav-box{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #eeeeee;
}
#top .top-navbar{
	width: 1000px;
	height: 70px;
	margin: 0 auto;	
}
#top .top-navbar .logo-img{
	float: left;
}
#top .top-navbar .logo-img img{
	margin-top: 8px;
}
#top .top-navbar .navbar{
	float: right;
}
#top .top-navbar .navbar ul{
	list-style: none;
}
#top .top-navbar .navbar ul li{
	float: left;
}
#top .top-navbar .navbar ul li a{
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	display: block;
	height: 79px;
	line-height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}
#top .top-navbar .navbar ul li a:hover{
	color: #fff;
	background-color: #50bbdb;
	border-bottom: 1px solid #7d7a79;
	height: 78px;
}


.main{
	float: left;
	text-align: center;
	margin-top: 200px;
	font-size: 50px;
}


//页面最底部
#footer{
	float: left;
	width: 100%;
	height: 92px;
}
.footer-list{
	float: left;
	height: 51px;
	width: 100%;
	background-color: #444b55;
}
.footer-list-inner{
	width: 1000px;
	margin: 0 auto;
}
.footer-list ul{
	float: left;
	display: block;	
}
.footer-list ul li{
	float: left;
	list-style: none;
	display: block;
	line-height: 50px;

}
.footer-list-li1{
	margin-left: 94px;
}
.footer-list-li2{
	margin-left: 116px;
}
.footer-list-li3{
	margin-left: 140px;
}
.footer-list-li4{
	margin-left: 134px;
}
.footer-list-li5{
	margin-left: 116px;
	margin-right: 16px;
}
.footer-list ul li a{
	color: #fff;
	text-decoration: none;
}
.footer-list ul li a:hover{
	color: #fff;
	text-shadow:-1px -1px 1px #999;
}
.copyright{
	height: 41px;
	background-color: #565d65;
	line-height: 40px;
	text-align: center;
}
.copyright span{
	color: #fff;
}